input{
    width: 220px;
    height: 20px;
}
.add{
    height: 25px;
    border: none;
}
h1{
    text-align: center;
}
.sections{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    margin: 30px;
}
.stask{
    width: 300px;
    height: 40px;
    padding: 3px;
    border-radius: 5px;
    margin: 10px 0px;
    background-color: rgb(117, 195, 255);
}
.tasks{
    width: 300px;
    height: 40px;
    padding: 3px;
    border-radius: 5px;
    margin: 10px 0px;
    background-color: rgb(214, 237, 255);
}
.task-buttons{
    float: right;
    border: none;
    margin: 20px 5px 5px 0;
}
body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}